{% extends "base.html" %}

{% block title %}投稿詳細{% endblock %} <!-- タブへの表示内容  -->

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/baton.css')}}">
<link rel="stylesheet" href="../../static/css/base.css"> <!-- 仮 -->
<link rel="stylesheet" href="../../static/css/baton.css"> <!-- 仮 -->
{% endblock %}

{% block content %}
<div class="page">
    <main>
        <div class="page-title">
            <div class="title-image">
                <img src="{{ url_for('static', filename='img/Baton_rabbit.PNG')}}" alt="baton-rabbit">
            </div>
            <div class="title">
                バトン
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash flash-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <!-- もらったバトン表示 -->
        {% if baton %} <!-- 他の人からバトンが届いている場合、表示 -->
        <section class="task-arrived">
            <div class="mytask-card">
                <div class="mytask-content">
                    <div class="mytask-header">
                        <div class="task-sender">
                            {{ sender_name }}さんからバトンが届きました！
                        </div>
                        <div class="task-send-time">{{ created_at }}</div>
                    </div>
                    <div class="task-body" id="task-detailbody-{{ task_id }}">
                        {{ task.content }}
                    </div>
                </div>
                <form action="taskupdate" method="post">
                    <input type="hidden" name="task_id" value="{{ task_id }}">
                    <input type="hidden" name="is_done" value="1">
                    <button type="submit"
                    onclick="return confirmation('このバトンを完了しますか？');">
                    完了
                    </button>
                </form>
                </div>
            </div>
        </section>
        {% else %}
        <div class="empty">
            <p>バトンはありません。</p>
        </div>
        {% endif %}

        <!-- バトンを作成フォーム -->

        <section class="new-task">
            <form class="new-task-main" action="/posts" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- なりすましリクエスト防止（CSRF対策） -->
                <label for="select-task">バトンを選ぶ</label>
                <select name="select-task" id="select-task"> <!-- プルダウンリストからタスクを選ぶ -->
                    {% for task in tasks}
                    <option class="task">
                        {{ task }}
                    </option>
                    <option class="task"> <!-- プルダウン確認用の仮コード -->
                        今の気分で一番マシな教科に1秒触れろ（開くだけOK） <!-- プルダウン確認用の仮コード -->
                    </option> <!-- プルダウン確認用の仮コード -->
                    {% endfor %}
                </select>
                <div class="send-task">
                    <div class="send-task-image">
                        <img src="{{ url_for('static', filename='img/Baton_pass_hachimaki.PNG')}}" alt="baton_pass">
                    </div>

                    <button class="send-task-btn" type="submit"
                    onclick="return confirm('このバトンを次の人に送りますか？');">次の人にバトンを渡す！</button>
                </div>

            </form>
        </section>
        
        <!-- 完了もしくは失敗したタスク一覧を表示 -->
        <section class="task-history">
            <div class="complete">
                <div class="complete-title">
                    バトン完了！
                </div>
                <div class="content">
                    {% if complete_tasks %}
                        {% for complete_task in complete_tasks %}
                        {{ task_body }}
                        {% endfor %}
                </div>
                    {% else %}
                    <div class="empty">
                        <p>完了したバトンがないよ・・</p>
                    </div>
            </div>
            <div class="fail">
                <div class="fail-title">
                    バトン失敗・・。
                </div>
                <div class="content">
                    {% if fail_tasks %}
                        {% for fail_task in fail_tasks %}
                        {{ task_body }}
                        {% endfor %}
                </div>
                    {% else %}
                        <div class="empty">
                            <p>まだ失敗してないぜ！</p>
                        </div>
                    {% endif %}
            </div>
        </section>
    </main>
    {% include 'common/footer_mypageback.html' %}
</div>
{% endblock %}