{% extends "base.html" %}


{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/baton.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}">

{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='js/mybaton.js')}}"></script>
{% endblock %}

{% block content %}
<div class="page">
    <main>
        <div class="page-title">
            <div class="title-image">
                <img src="{{ url_for('static', filename='img/Baton_rabbit.PNG')}}" alt="baton-rabbit">
            </div>
            <div class="title">
                バトン
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="flash flash-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <!-- もらったバトン表示 -->

        <section class="task-arrived">
            <div class="mytask-card">
                <div class="mytask-content">
                    {% if baton_incomplete %} <!-- 他の人からバトンが届いている場合、表示 -->
                    <div class="mytask-header">
                        <div class="task-message">
                            <div class="task-sender">
                            {{ baton_incomplete.sender_name }}
                            </div>
                            <div class="question">　からのバトン、今やる？
                            </div>
                        </div>
                    <div class="task-body" id="task-detailbody-{{ baton_incomplete.task_id }}">
                        「 {{ baton_incomplete.content }} 」
                    </div>
                        
                        <div class="mytask-time">
                            <div class="task-send-time">{{ baton_incomplete.formatted_date }}</div>
                            <div class="task-limit" id="countDown" data-task-limit="{{baton_incomplete.time_limit}}">締め切りまであと
                                {{ baton_incomplete.time_limit }}
                            </div> 
                        </div>
                        
                    </div>

                    {% else %}
                    <div class="empty">
                    <p>バトン来てないよ</p>
                    </div>
                    {% endif %}
                </div>
                <!-- 260514　完了ボタンを新しいバトン送信ボタンと統合するのでコメントアウト -->
                <!-- <form class="complete-form" action="taskupdate" method="post">
                    <input type="hidden" name="task_id" value="{{ task_id }}">
                    <input type="hidden" name="is_done" value="1">
                    <button class="mytask-complete" type="submit"
                    onclick="return confirm('このバトンを完了しますか？');"> バトンあり　のフラグが立った時だけ表示させたい
                    完了 -->
                    <!-- </button>
                </form> -->
            </div>
        </section>

        <!-- バトンを作成フォーム -->
        <section class="new-task">
            <form class="new-task-main" action="/baton/send" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"> <!-- なりすましリクエスト防止（CSRF対策） -->
                <input type="hidden" name="task_id" value="{{ task_id }}"> <!-- 自分が完了しようとしているタスク -->
                <input type="hidden" name="is_done" value="1"> <!-- 自分のタスクの完了フラグ -->
                {% if baton_incomplete %} <!-- 他の人からバトンが届いている場合、表示 -->
                <input type="hidden" name="baton_id" value="{{ baton_incomplete.id }}"> <!-- baton_idを追加 -->
                <input type="text" name="task_title" class="task_title" value="{{ baton_incomplete.baton_title }} " readonly><br> <!-- タスクの名前をテキストエリア（一行なのでinput使用）に表示＆readonlyで編集不可に -->
                <label for="select-task" class="select-title">バトンを選ぶ</label> <!-- label forを使うことで文章のどこを触れても選択できる・・はず -->
                <select id="select-task" name="select-task" class="select-task"> <!-- プルダウンリストからタスクを選ぶ。ここでid="select-task"とすることでlabel for="select-task"が効く -->
                    {% for task in tasks %}
                    <option class="task" value="{{ task.id }}"> <!-- プルダウンメニューで選択後、改行できない（横幅限られているので途中までしか表示できない）ため、タスクはMax25文字で！！ -->
                        {{ task.content }}
                    </option>
                    {% endfor %}
                </select>
                <div class="send-task">
                        <img class="send-task-image" src="{{ url_for('static', filename='img/Baton_pass_hachimaki.PNG')}}" alt="baton_pass">
                    <button class="send-task-btn" type="submit"
                    onclick="return confirm('このバトンを次の人に送りますか？');">タスクを完了して<br>次の人にバトンを渡す！</button>
                </div>

                {% else %}
                <input type="text" name="task_title" class="task_title" placeholder="新しいバトンのタイトル"><br>
                <label for="select-task" class="select-title">バトンを選ぶ</label> <!-- label forを使うことで文章のどこを触れても選択できる・・はず -->
                <select id="select-task" name="select-task" class="select-task"> <!-- プルダウンリストからタスクを選ぶ -->
                    {% for task in tasks %}
                    <option class="task" value="{{ task.id }}"> <!-- プルダウンメニューで選択後、改行できない（横幅限られているので途中までしか表示できない）ため、タスクはMax25文字で！！ -->
                        {{ task.content }}
                    </option>
                    {% endfor %}
                </select>
                <div class="send-task">
                        <img class="send-task-image" src="{{ url_for('static', filename='img/Baton_pass_hachimaki.PNG')}}" alt="baton_pass">
                    <button class="send-task-btn" type="submit"
                    onclick="return confirm('このバトンを次の人に送りますか？');">次の人にバトンを渡す！</button>
                </div>
                {% endif %}
            </form>
        </section>
        
        <!-- 完了もしくは失敗したタスク一覧を表示 -->
        <section class="task-history">
            <div class="complete">
                <div class="complete-title">
                    バトン完了！
                </div>
                <div class="content">
                    {% if complete_tasks %}
                        {% for complete_task in complete_tasks %}
                            <div class="history-item">
                                <p><strong>{{ complete_task.sender_name }}</strong> さんからのバトン</p>
                                <p>内容：{{ complete_task.content }}</p>
                            <hr> </div>
                        {% endfor %}
                    {% else %}
                        <div class="empty">
                            <p>完了したバトンがないよ・・</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="fail">
                <div class="fail-title">
                    バトン失敗・・。
                </div>
                <div class="content">
                    {% if fail_tasks %}
                        {% for fail_task in fail_tasks %}
                            <div class="history-item">
                                <p><strong>{{ fail_task.sender_name }}</strong> さんからのバトン</p>
                                <p>内容：{{ fail_task.content }}</p>
                            <hr> </div>
                        {% endfor %}
                    {% else %}
                        <div class="empty">
                            <p>まだ失敗してないぜ！</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
    {% include 'common/footer_mypageback.html' %}
</div>
{% endblock %}