{% extends "base.html" %}

<!--headタグ内の設定-->
{% block title %}ログイン - Manabu {% endblock %}
{% block page_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css')}}">{% endblock %}


<!--bpdyタグ内のコード-->
{% block page_title %}ログイン{% endblock %}

{% block content %}
    <p class="auth-subtitle">メールアドレスとパスワードを入力してログインしてください。</p>

    <!-- フラッシュメッセージ表示（このコミットでは入力値チェックとするが、次のコミットでフラッシュメッセージを表示させる） -->


     <!--フォーム入力-->
    <form class="auth-form" method="post"> <!--login[POST]のURL-->

        <!--メールアドレス入力-->
        <div>
            <label>メールアドレス</label>
            <input type="text" name="email" placeholder="メールアドレス" required>
        </div>
        
        <!--パスワード入力-->
        <div>
            <label>パスワード</label>
            <input type="password" name="password_confirmation" placeholder="パスワード" required>
        </div>

        <img src="../img/Cheering_cat.PNG" alt="Cheering_cat">  <!--後でurl_forに変更する-->
        
        <div class="auth-botton-container">
            <button class="auth-botton" type="submit">ログイン</button>
            <a class="switch-auth-mode" href="{{url_for('auth.signup_view')}}">新規登録はこちら</a>
        </div>
        
    </form>
{% endblock %} 