<!DOCTYPE html>                                                             <!--html5で記述する-->
<html lang="ja">                                                            <!--ドキュメント言語を日本語に指定-->

<head>
    <meta charset="UTF-8">                                                  <!--文字エンコードをUTF-8に指定-->
    <title>{% block title %}マナ部{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">   <!--画面サイズをデバイスサイズに合わせて最適化-->
    <link rel="stylesheet" href="base.css">                                 <!--パスはファイルを入れたら記述します-->
    {% block page_css %}{% endblock %}
</head>

<body>
    {% include 'common/header.html' %}                          

    <main>
        <h2 class="auth-title">{% block page_title %}{% endblock %}</h2>                   <!--headerの下に表示するページタイトル文のことです-->

        {% block content %}{% endblock %}                                  <!--ページタイトル以外のmain部分です-->
    
        <!--フッターは２つファイルを作成するので、mainにそれぞれincludeしてください-->
        <!--(マイページはfooter_mypage.html、投稿詳細・バトン画面・ランキングはfooter_mypageback.htmlをincludeしてください)-->
    </main>

</body>

</html>