<footer>                 <!--css➞footer全体のサイズを指定する-->
    <div class="footer-container">                 <!--２つのロゴとリンクの位置を指定する-->
        <div class="footer-content">             <!--行間を指定する-->
            <img class="footer-img" src="{{ url_for('static', filename='img/CatRabbit_in_Cup.PNG')}}" alt="CatRabbit_in_Cup">
            <a class="footer-botton" href="{{ url_for('ranking.ranking_view') }}">ランキングを見る</a>
        </div>

        <div class="footer-content">
            <img class="footer-img" src="{{ url_for('static', filename='img/Baton_rabbit.PNG')}}" alt="Baton_rabbit">
            <a class="footer-botton" href="{{ url_for('baton.baton_view') }}">バトンを見る</a>
        </div>
    </div>
</footer>