<!-- ↓画面確認用、アプリ完成時は消します -->
<link rel="stylesheet" href="../../static/css/base.css"> 
<link rel="stylesheet" href="../../static/css/footer.css">


<footer>                 <!--css➞footer全体のサイズを指定する-->
    <div class="footer-container">                 <!--css➞２つのロゴとリンクの位置を指定する-->
        <div class="footer-content">             <!--css➞行間を指定する-->
            <img class="footer-img" src="" alt="ランキング">
            <a class="footer-botton" href="">ランキングを見る</a>
        </div>

        <div class="footer-content">
            <img class="footer-img" src="../img/Baton_rabbit.PNG" alt="バトンウサギ">
            <a class="footer-botton" href="">バトンを見る</a>
        </div>
    </div>
</footer>