<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css')}}">




<header> <!-- CSS：header全体のサイズを指定する -->
    <div class="header-inner"> <!-- CSS：ロゴの位置を指定 -->
        <img src="{{ url_for('static', filename='img/Normal_cat.PNG') }}" alt="cat">
        <span>マナ部</span>
        <img src="{{ url_for('static', filename='img/Normal_rabbit.PNG') }}" alt="rabbit"><br>
    </div>

        {% if session.get('user_id') %}
        <a class="logout" href="{{ url_for('auth.logout')}}">ログアウト</a>
        {% endif %}

</header>