/*とりあえず全部中央揃えに */
.page {
    max-width: 600px; /* 横幅制限（スマホ想定） */
    margin: 0 auto; /*　全体を中央寄せに */
    padding: 0 16px; /* 端の余白（スマホで詰まりすぎを防ぐ） */
}

/* テキスト系をまとめてセンターアライン */
.page-title, .task-arrived, .new-task, .task-history {
    text-align: center; 
}

.title-image {
    min-height: 112px;
}

.title {
    height: 56px;
    font-size: 40px;
    font-weight: 700;
}

.task-arrived {
    background-color: #FFCC00;
}

.mytask-content {
    background-color: #FFCC00;
    text-align: left;
    font-size: 12px; /*　スペース節約と高校生の視力を信じて小さめに */
}

.mytask-header {
    display: flex;
    justify-content: space-between;
}

.task-sender {
    font-weight: 600;    
}

.send-task {
    display: flex;
    justify-content: flex-end;
}

.send-task-image {
    min-height: 40px;
}

.complete {
    text-align: left;
}

/* 投稿ボタンの色や形状調整 */
.btn-primary {
    margin-right: 4px;
    background-color:#00C3D0;
    font-size: 16px;
    padding: 8px 16px;
}