/*とりあえず全部中央揃えに */
.mypage {
    max-width: 600px; /* 横幅制限（スマホ想定） */
    margin: 0 auto; /*　全体を中央寄せに */
    padding: 0 16px; /* 端の余白（スマホで詰まりすぎを防ぐ） */
}

/* テキスト系をまとめてセンターアライン */
.page-title, .total-study-time, .flash-messages, .new-post {
    text-align: center; 
}

.page-title {
    height: 56px;
    font-size: 40px;
    font-weight: 700;
}
.total-study-time {
    height: 56px; /* base.htmlとfooter.htmlでflex: columnというのが良いみたい */
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.new-post {
    margin-top: 16px;
}

/* formを縦並びにする */
.new-post-main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px; /* 間の余白 */
    border-radius: 16px;
    padding: 16px;
}

/* 上段だけ横並びにする（投稿フォームとイメージ */
.new-post-body {
    position: relative; /* 勉強時間などの枠を白い枠に入れ込むため */
    display: flex;
    gap: 12px;
    align-items: flex-start;
    width: 100%;
    background-color: #FFF;
}

.new-post textarea {
    flex: 1; /* 居残り幅全部使う */
    min-height: 96px;
    border: none;
    resize: none;
    font-size: 16px;
    background: #FFF;
    padding: 8px;
    padding-bottom: 96px;
}

.post-image {
    margin-left: auto;
}

.post-image img {
    flex-shrink: 0;
    width: 112px;
    background: #FFF;
}

/* 勉強時間入力スペース周りの色や形状調整 */
.study-box {
    margin-left: 200px;
    text-align: left;
    background-color:#00C3D0;
    padding: 8px 16px;
    border-radius: 16px;
}

/* 勉強時間入力スペースの色や形状調整 */
.study-box input {
    width: 60px;
    background-color:#FFF;
    padding: 4px 8px;
    border-radius: 8px;
    text-align: right;
}

/* 投稿ボタンの色や形状調整 */
.btn-primary {
    margin-right: 4px;
    background-color:#00C3D0;
    font-size: 16px;
    padding: 8px 16px;
}

.new-post-footer {
    position: absolute; /* 勉強時間入力スペースなどを枠に入れる */
    bottom: 8px;
    left: 8px;
    right: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#FFF
}