{% extends "base.html" %}

{% block page_css %}
<link rel="stylesheet" href="{#{ url_for('static', filename='css/mypage.css')}#}"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/ranking.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css')}}">
{% endblock %}


{% block content %}
<div class="page">
    <!-- メイン -->
    <main>
        <div class="full-page-title">
            <img class="title-img" src="{{ url_for('static', filename='img/CatRabbit_in_Cup.PNG')}}" alt="CatRabbit_in_Cup">
            <div class="page-title">ランキング</div>
            <img class="title-img" src="{{ url_for('static', filename='img/CatRabbit_in_Cup.PNG')}}" alt="CatRabbit_in_Cup">
        </div>
        <!--ランキング表示-->
        <div class="full-ranking-design">
            <section class="each-ranking-view">
                <!-- ランキングタイトル表示 -->
                <div class="ranking-title">
                    <img class="ranking-title-img" src="{{ url_for('static', filename='img/Studying_rabbit.PNG')}}" alt="Studying_rabbit">
                    <span class="ranking-title-name">勉強時間王　（月間）</span>
                </div>
                
                <!-- ランキング順位表示 -->
                <div class="ranking-scroll-box">
                    {% for study_ranking in study_ranking %}              <!--スクロール表示-->
                    {#{% if user_id == id%}#}
                    <div class="ranking-detail">        <!--ランキング詳細-->
                        
                        <!--順位表示  -->
                        {%if loop.index0==0%}           <!--はじめの配列要素-->
                        <img class="ranks-medal" src="{{ url_for('static', filename='img/Gold_medal.png')}}" alt="Gold_medal">

                        {%elif loop.index0==1%}          <!--２つ目の配列要素-->
                        <img class="ranks-medal" src="{{ url_for('static', filename='img/Silver_medal.png')}}" alt="Silver_medal">

                        {%elif loop.index0==2%}          <!--３つ目の配列要素-->
                        <img class="ranks-medal" src="{{ url_for('static', filename='img/Bronze_medal.png')}}" alt="Bronze_medal">
                        
                        {%else%}  <!--4つ目以降の配列要素のとき-->
                        <p class="ranks">{{loop.index}}</p>
                        {% endif %}
                        
                        <!--名前表示  -->
                        <div class="rank-name">{{ study_ranking.name }}</div>
                        
                        <!--勉強時間表示  -->
                        <div class="total">
                            {{study_ranking.total_hours}}時間{{study_ranking.total_minutes}}分
                            <!--勉強時間を「時間」＋「分」に換算して表示　はBEで処理してくれる！ -->
                        </div>
                    </div>
                    {% endfor %}              
                </div>
                
            </section>
            <section class="each-ranking-view">
                <!-- ランキングタイトル表示 -->
                <div class="ranking-title">
                    <img class="ranking-title-img" src="{{ url_for('static', filename='img/Baton_pass_hachimaki.PNG')}}" alt="Baton_pass_hachimaki">
                    <span class="ranking-title-name">レジェンドバトン</span>
                </div>
                
                <!-- ランキング順位表示 -->
                <div class="ranking-scroll-box">
                    {% for baton_chain_ranking in baton_chain_ranking %}              <!--スクロール表示-->
                    <div class="ranking-detail">        <!--ランキング詳細-->
                        
                        <!--順位表示  -->
                        {%if loop.index0==0%}           <!--はじめの配列要素-->
                        <img class="ranks-medal" src="{{ url_for('static', filename='img/Gold_medal.png')}}" alt="Gold_medal">

                        {%elif loop.index0==1%}          <!--２つ目の配列要素-->
                        <img class="ranks-medal" src="{{ url_for('static', filename='img/Silver_medal.png')}}" alt="Silver_medal">

                        {%elif loop.index0==2%}          <!--３つ目の配列要素-->
                        <img class="ranks-medal" src="{{ url_for('static', filename='img/Bronze_medal.png')}}" alt="Bronze_medal">
                        
                        {%else%}  <!--4つ目以降の配列要素のとき-->
                        <p class="ranks">{{loop.index}}</p>
                        {% endif %}
                        
                        <!--名前表示  -->
                        <div class="rank-name">{{ baton_chain_ranking.chain_id }}</div>
                        
                        <!--勉強時間表示  -->
                        <div class="total">
                            {{ baton_chain_ranking.sum_count}}人達成
                        </div>
                    </div>
                    {% endfor %}              
                </div>
            </section>
        </div>
    </main>
    {% include 'common/footer_mypageback.html' %}
</div>

{% endblock %}


        
