{% extends "base.html" %}

{% block title %}400エラー{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
<link rel="stylesheet" href="../../static/css/base.css"> <!-- 仮（flaskを起動する際は不要なので消しても大丈夫です！） -->
<link rel="stylesheet" href="../../static/css/error.css"> <!-- 仮 -->
{% endblock %}

{% block content %}
<div class="error-wrapper">
    <div>
        <p class="error-num">4 0 0</p>

        <div class="error-description">
            <p>リクエストを処理できませんでした。</p>
            <p>セッションが切れている可能性があります。一度ページを更新してから再度お試し下さい。</p>
            <a href="{{ url_for('posts.mypage_view') }}">戻る</a>
        </div>
    </div>
</div>
{% endblock %}